<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Destiny Database</title>

    <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header id="main-header" class="bg-success text-white p-4 mb-3">
      <h1>Destiny Database Results</h1>
    </header>

    <div class="container">
      <main>
        <h2>
          This page contains the destiny database search results.
        </h2>
        <p>The application was created using the following technologies</p>
        <ul>
          <li>Front End -- HTML, CSS, Vanilla JS</li>
          <li>
            Back End -- Node.js with server-side framework express.js and
            embedded javascript for server side content rendering
          </li>
          <li>Database -- MySQL server community edition version 8.0</li>
        </ul>
      </main>
    </div>

    <div class="container">
      <h3>CRUD ops - READ</h3>
      <h4>Read Data from The Database</h4>
      <table border="1">
        <tr>
            <th>Name</th>
            <th>Weapon_Pwr_Max</th>
            <th>Weapon_Dmg_Typ</th>
            <th>Weapon_Type</th>
            <th>Rarity_ID</th>
        </tr>
        
        <%data.forEach((item)=>{%>
        <tr>
            <td><%=Name; %></td>
            <td><%=Weapon_Pwr_Max%></td>
            <td><%=Weapon_Dmg_Typ%></td>
            <td><%=Weapon_Type%></td>
            <td><%=Rarity_ID%></td>
        </tr>
        <%});%>
        </ul>
      </div>
    </div>
  </body>
</html>